[mac]
111.22.33.44 ansible_ssh_user=administrator ansible_ssh_pass=password ansible_sudo_pass=password

[prod-macs]
100.200.300.40 ansible_ssh_pass='asdf1234' ansible_sudo_pass='asdf1234' buildslave_password='1234asdf'
100.200.300.41 ansible_ssh_pass='hjkl0987' ansible_sudo_pass='hjkl0987' buildslave_password='0987hjkl'

[prod-macs:vars]
ansible_ssh_user=administrator

[proxy]
111.22.33.45 ansible_ssh_user=root

[buildmaster]
111.22.33.46

[buildmaster:vars]
buildbot_logins={'user':'ponies',
                 'guest':'passw0rd'}

master_cfg_txt={'env': 'prod',
                'homu_secret':'asdfghjkl',
                'master_addy':'00.11.22.33:9988',
                'rust_org': 'rust-lang',
                'cargo_org': 'rust-lang',
                'packaging_org': 'rust-lang',
                's3_name': 'static-rust-lang-org',
                'public_dist':'https://static.rust-lang.org'}

mac_slaves={'mac3': 'password',
            'mac4': 'password'}

ios_slaves={'mac5':'password',
            'mac6':'password'}

docker_slaves={ 'linux3':  'password',
                'linux4':  'password',
                'linux5':  'password',
                'linux6':  'password',
                #'linux7': 'password',
                #'linux8': 'password'}

lincross_slaves={'lincross1': 'password'}
64_android_slaves={'linux-64-x-android-t': 'password'}
arm_android_slaves={'dist-arm-android': 'password'}
linux_snap_slaves={'linux-snap': 'password'}

win_slaves={'win1':  'password',
            'win2':  'password',
            'win3':  'password',
            'win4':  'password',
            'win5':  'password',
            'win6':  'password',
            'win7':  'password',
            'win8':  'password',
            'win9':  'password',
            'win10': 'password',
            'win11': 'password',
            'win12': 'password',
            'win13': 'password',
            'win14': 'password',
            'win15': 'password',
            'win16': 'password'}


windist_slaves={'windist1': 'password',
                'windist2': 'password',
                'windist3': 'password',
                'windist4': 'password'}

bsd_slaves={'bsd1': 'password',
            'bsd2': 'password',
            'bsd3': 'password',
            'bsd4': 'password',
            'bsd5': 'password'}

community_slaves={'bitrig1': 'password',
                  'freebsd10_32-1': 'password',
                  'freebsd10_64-1': 'password',
                  'dragonflybsd-64-opt': 'password',
                  'openbsd-64-opt': 'password'}


[devmaster]
111.22.33.47

[bastion]
111.22.33.48 ansible_ssh_user=root
