env {{ master_cfg_txt['env'] }}
master_addy {{ master_cfg_txt['master_addy'] }}
git_source git://github.com/{{ master_cfg_txt['rust_org'] }}/rust.git
cargo_source git://github.com/{{ master_cfg_txt['cargo_org'] }}/cargo.git
packaging_source git://github.com/{{ master_cfg_txt['packaging_org'] }}/rust-packaging.git
buildbot_source https://github.com/{{ master_cfg_txt['buildbot_org'] }}/rust-buildbot
buildbot_branch master
s3_addy s3://{{ master_cfg_txt['s3_name'] }}
s3_cargo_addy s3://{{ master_cfg_txt['s3_name'] }}
homu_secret {{ master_cfg_txt['homu_secret'] }}
dist_server_addy http://{{ master_cfg_txt['s3_name'] }}.s3-website-us-west-1.amazonaws.com
public_dist_server_addy {{ master_cfg_txt['public_dist'] }}
